.detail-forecast {
  padding: 10px 20px;
}
.temperature {
  text-decoration: none;
  color: white;
}
#main-icon {
  width: 78px;
  position: relative;
  top: 18px;
}
#selected-city {
  text-transform: capitalize;
}
#forecast-description::first-letter {
  text-transform: capitalize;
}
#forecast-description {
  font-weight: 600;
  font-size: 18px;
}

.Search form {
  padding: 10px 0px;
  margin-bottom: 20px;
}
.form-control {
  border-color: #5c5470;
}
.btn-main {
  color: #352f44;
  background-color: white;
  border-color: #5c5470;
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  padding: 6px 12px;
}
.btn-main:hover {
  color: #352f44;
  font-weight: 600;
  /* background-color: #dbd8e3; */
  opacity: 0.9;
  border-color: #352f44;
}
.fa-search-location {
  font-size: 20px;
  color: white;
}
a {
  text-decoration: none;
}
