.wrap {
  color: #020205;
  max-width: 640px;
  margin: 30px auto 0 auto;
  padding: 15px 30px;
  border: solid;
  border-radius: 15px;
  border-color: white;
  position: relative;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.detail-forecast {
  padding: 10px 20px;
}

.units {
  font-size: 20px;
  position: relative;
  top: -9px;
}

.main-icon {
  width: 84px;
  position: relative;
  right: 18px;
  top: 18px;
}

.forecast-description {
  font-weight: 600;
  font-size: 18px;
}

.Search form {
  padding: 10px 0px;
  margin-bottom: 20px;
}
.form-control {
  border-color: #5c5470;
}
.btn-main {
  color: #352f44;
  background-color: white;
  border-color: #5c5470;
}
.btn-main:hover {
  color: #352f44;
  font-weight: 600;
  opacity: 0.9;
  border-color: #352f44;
}
.fa-search-location {
  font-size: 20px;
  color: white;
}
a {
  text-decoration: none;
}
