.detail-forecast {
  padding: 10px 20px;
}
.temperature {
  text-decoration: none;
  color: white;
}
.forecast-heading {
  margin-top: 40px;
  text-align: left;
}
.forecast-temperature {
  font-size: 20px;
}
.icon-forecast {
  color: white;
  font-size: 40px;
  line-height: 48px;
}
